@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Kanit', sans-serif;
}
.maincont{
   border-top:1px solid white;
   display:flex;
   flex-direction:column; 
   align-items:center;
   gap:10px;
   background-color: black;
   color:white;
   min-height:100vh;
}

.img-div {
  display: flex;
  flex-wrap:wrap; /* Adjusted to prevent wrapping */
  margin:10px 26px;
}
.img-div img {
  margin:10px;
  height:250px;
  width:410px;
  border: 1px solid gray;
}
input{
  width:200px;
  height:50px;
  border-radius:5px; 
}
button{
  width:100px;
  height:45px;
  border-radius: 5px; 
  font-size: 17px;
  background-color: rgb(26,115,232);
  color:white; 
}
span{
  color:green;
}